@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
:root {
    --zcool: "ZCOOL QingKe HuangYou", cursive;
}

body {
    margin: 0;
    background-color: #034abc;
    color: white;
    font-family: var(--zcool);
}

#top-container {
    width: 500px;
    text-align: center;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-container h1 {
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: -2px -2px 0 rgb(32, 32, 32), 2px -2px 0 rgb(32, 32, 32),
        -2px 2px 0 rgb(32, 32, 32), 2px 2px 0 rgb(32, 32, 32);
}

#top-container span:nth-child(1) {
    color: #d55a5a;
    text-shadow: 0 4px 0 #f49138;
}

#top-container span:nth-child(2) {
    color: #f49138;
    text-shadow: 0 4px 0 #d55a5a;
}

main {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name-input {
    height: 3rem;
    width: 15rem;
    border-radius: 8px;
    border: 0;
    padding: 4px 12px;
    font-size: 30px;
    font-family: var(--zcool);
    text-transform: uppercase;
}

#play-button {
    margin: 20px;
    background-color: #4190ff;
    border: 0;
    font-family: var(--zcool);
    color: white;
    font-size: 36px;
    padding: 8px 14px;
    height: 60px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 8px 0 0 #5c6391;
    cursor: pointer;
    transition: 100ms;
    text-transform: uppercase;
}

#error-message{
    font-size: 1.1rem;
    color: #ff4a4a;
}

#play-button:hover {
    margin-top: 22px;
    margin-bottom: 18px;
    background-color: #257ffe;
    box-shadow: 0 6px 0 0 #5c6391;
    transition: 100ms;
}

#play-button:active {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: #d4d1f0;
    box-shadow: 0 4px 0 0 #797faf;
    transition: 20ms;
}

#highscores-container {
    margin-top: 20px;
    background-color: #257ffe;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
}

#highscores-container h2 {
    margin-top: 2px;
    text-align: center;
    font-size: 28px;
}

#highscores-table {
    width: 80%;
    margin: 0 auto;
}

#highscores-tbody {
    width: 80%;
    max-height: 500px;
    height: auto;
    margin: 0 auto;
}

#highscores-tbody td {
    width: 33%;
    font-size: 22px;
    padding: 4px 14px;
}

#highscores-tbody tr td:nth-child(2) {
    text-align: center;
}

#highscores-tbody tr td:nth-child(3) {
    text-align: end;
}

@media (max-width: 1500px) {
    #top-container {
        margin: 0 auto;
    }

    #top-container h1 {
        margin: 0;
    }

    #highscores-tbody td {
        width: 33%;
        font-size: 22px;
        padding: 2px 14px;
    }
}

@media (max-width: 1300px) {
    * {
        border-radius: 4px;
    }
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #top-container {
        margin: 0;
    }

    #top-container h1 {
        margin: 0;
        font-size: 80px;
    }

    #highscores-tbody td {
        width: 33%;
        font-size: 20px;
        padding: 2px 14px;
    }

    #name-input {
        margin-top: 14px;
        height: 2.5rem;
        padding: 0 12px;
        font-size: 20px;
    }

    #play-button {
        font-size: 28px;
        padding: 0px 14px;
        height: 40px;
        width: 240px;
    }
    
    #highscores-container {
        margin: 0 40px;
    }
}
