@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Solway:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

body{
    background-image: url('./pages/game/assets/img/tela-inicial-img.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    font-family: "ZCOOL QingKe HuangYou", cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

main{
    display: flex;
    height: 92vh;
    /* height: clamp(15em, 0.1vw, 50em); */
}

/* .img-1{
    background-image: url('img.svg');
} */

.img-1{
    background-image:  url('./pages/game/assets/img/tela-inicial-img2.svg');
}

h1{
    font-size: clamp(2.2em, 6vw, 7em);
    color: #F6A407;
    font-weight: 1000;
    letter-spacing: 0.08em;
    margin-top: 0;
    margin-bottom: 25px;

    text-shadow: rgb(22 20 85) 3px 0px 0px,
                 rgb(22 20 85) 2.83487px 0.981584px 0px,
                 rgb(22 20 85) 2.35766px 1.85511px 0px,
                 rgb(22 20 85) 1.62091px 2.52441px 0px,
                 rgb(22 20 85) 0.705713px 2.91581px 0px,
                 rgb(22 20 85) -0.287171px 2.98622px 0px,
                 rgb(22 20 85) -1.24844px 2.72789px 0px,
                 rgb(22 20 85) -2.07227px 2.16926px 0px,
                 rgb(22 20 85) -2.66798px 1.37182px 0px,
                 rgb(22 20 85) -2.96998px 0.42336px 0px,
                 rgb(22 20 85) -2.94502px -0.571704px 0px,
                 rgb(22 20 85) -2.59586px -1.50383px 0px,
                 rgb(22 20 85) -1.96093px -2.27041px 0px,
                 rgb(22 20 85) -1.11013px -2.78704px 0px,
                 rgb(22 20 85) -0.137119px -2.99686px 0px,
                 rgb(22 20 85) 0.850987px -2.87677px 0px,
                 rgb(22 20 85) 1.74541px -2.43999px 0px,
                 rgb(22 20 85) 2.44769px -1.73459px 0px,
                 rgb(22 20 85) 2.88051px -0.838247px 0px, 
                 rgb(22 20 85) -3px 2px 0px,
                 rgb(22 20 85) -3px 4px 0px, 
                 rgb(22 20 85) -3px 6px 0px,
                 rgb(22 20 85) 3px 2px 0px, 
                 rgb(22 20 85) 3px 4px 0px,
                 rgb(22 20 85) 3px 6px 0px;
        /* border: 2px solid red;          */
}

h2{
    font-size: 30px;
    margin-top: 10px;
}

p{
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 60px;
    margin: 0;
}

span{
    color: #E91F64;
    /* border: 2px solid red; */
}

#one{
    width: 45vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name{
    font-family: "Solway", serif;
}

input{
    background-color: #242B38;
    border: 2px solid black;
    width: clamp(4em, 32vw, 15em);
    height: clamp(1em, 7vw, 3em);
    border-radius: 20px;
    box-shadow: -2px 5px #000000;
    padding-left: 30px;
      /*  padding-top: 0.8em; */
    color: white;
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 32px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

input::placeholder{
    /* font-family: "ZCOOL QingKe HuangYou", cursive; */
    color: white;
}

button{
    width: 15em;
    height: 73px;
    /* margin-bottom: 57px; */
    font-family: "ZCOOL QingKe HuangYou", cursive;
    border-radius: 20px;
    background-color: #E54AD4;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: -1px 3px #000000;
}

button div{
    width: 95%;
    height: 85%;
    background-color: #931EAA;
    color: white;
    font-size: 32px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#two{
    width: 55vw;
    /* border: 3px solid blue; */
    /* display: none; */
    align-items: center;
    justify-content: center;
}

#two #div-score-external{
    width: 30em;
    height: 25em;
    background-color: #343C4F;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 4px #000000;
}

#two #div-score {
    width: 95%;
    height: 95%;
    border-radius: 20px;
    background-color: #242B38;
    text-align: center;
    color: #E5E5E5;
}

#highscores-table{
    width: 96%;
    margin-left: 2%;
    font-size: 30px;
}

td{
/* border: 2px solid red; */
    padding: 10px;
}

#highscores-tbody{
    border: 2px solid red;
    text-transform: uppercase;
}

footer{
    /* border: 3px solid red; */
    height: 4em;
    display: flex;
}

footer button{
    width: 9.7em;
    height: 3.2em;
    border-radius: 0.8em;
    margin-left: 1.8em;
    box-shadow: none;
    background-color: #343C4F;
    font-family: "ZCOOL QingKe HuangYou", cursive;
}

footer div{
    background-color: #242B38;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
}

.flex{
    display: flex;
}

.none{
    display: none;
}

#play-button {
    cursor: pointer;
}

#modal-tutorial{
    width: 70vw;
    height: 90vh;
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    top: 5%;
    left: 15vw;
    transition: all 0.8s ease;
    border-radius: 20px;
}

#modal-tutorial::-webkit-scrollbar {
    display: none;
}

#modal-tutorial img{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 20px;
}

/* #play-button:hover {
    margin-top: 22px;
    margin-bottom: 18px;
    background-color: #257ffe;
    box-shadow: 0 6px 0 0 #5c6391;
    transition: 100ms;
}

#play-button:active {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: #d4d1f0;
    box-shadow: 0 4px 0 0 #797faf;
    transition: 20ms;
} */